html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
:focus{
    outline:none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: var(--white);
}
.container{
    padding: 0px 120px;
}
:root{
    --primary-default: #F39314;
    --white: #ffffff;
    --black: #201E1C;
    --base: #F5F5F5;
    --primary-lighter: #FFEEDB;
    --base-300: #999;
    --base-600: #666666;
    --primary: #FFEEDB;
    --primary-dark: #BC700C;
    --primary-darker: #5B3606;
    --base-100: #F5F5F5;
}
header{
    width: 100%;
    padding: 16px 68px;
    gap: 32px;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.frame{
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.nav-dropdown{
    display: none;
}
.header-logo{
    width: 220px;
    height: 52px;
    margin-top: 3px;
}
.navigation{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.arrow{
    width: 20px;    
    height: 20px;
}
.arrow-link, .header-link{
    text-decoration: none;
    color: var(--white);
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%; 
}
.arrow-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
a[data-content="forex"]{
    width: 129px;
}
.arrow-link:focus-visible, .header-link:focus-visible{
    border-bottom: 4px solid var(--primary-default);
}
.arrow-link:hover{
    color: #fff;
    filter: invert(38%) sepia(15%) saturate(3481%) hue-rotate(355deg) brightness(101%) contrast(91%);
}
.header-link:hover{
    color: var(--primary-default);
    transition: color 300ms ease-out;
}
.arrow-link:active{
    filter: invert(84%) sepia(62%) saturate(2903%) hue-rotate(34deg) brightness(89%) contrast(95%);
    border-bottom: none;
}
.header-link:active{
    color: var(--primary-darker);
}
.orange-link-underlined{
    color: var(--primary-default);
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%; 
    text-decoration-line: underline;
    width: 119px;
}
.orange-link-underlined:hover{
    color: var(--primary-default);
}
.secondary{
    display: inline-flex;
    align-items: center;
    gap: 24px;
}
.secondary-mobile, .dropdown-mobile, .close-menu{
    display: none;
}
.search-btn, .search-btn-desktop{
    background: transparent;
    border: none;
}
.search-field, .search-field-desktop{
    width: 70%;
    background: transparent;
    border: 2px solid grey;
    border-radius: 3px;
    display: none;
    padding: 8px;
}
.close-btn, .close-btn-desktop{
    border: none;
    display: none;
    background: transparent;
}
.close-btn img, .close-btn-desktop img{
    width: 15px;
    height: 15px;
}
input:hover{
    background-color: var(--primary-dark, #BC700C);
    transition: background-color 300ms ease-out;
}
input:active{
    background-color: var(--primary-darker, #5B3606);
    padding: 6px 16px;
    transition: background-color 300ms ease-out;
    transition: padding 300ms ease-out;
}
input:focus{
    background-color: var(--white);
    padding: 6px 16px;
    transition: background-color 300ms ease-out;
    transition: padding 300ms ease-out;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; 
    transition: color 300ms ease-out;
}
input[disabled]{
    background: var(--base-600);
}
.menu{
    padding: 204px 0px 0px 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.menu .header-link, .menu .arrow-link{
    color: var(--black);
    font-size: 20px;
}
.menu .arrow-link img{
    filter: invert(92%) sepia(4%) saturate(51%) hue-rotate(349deg) brightness(103%) contrast(92%);
}
.menu a[data-content="main"]{
    font-weight: 700;
}
.header-button, .back-button, .back-button-tansparent{
    margin-left: 10px;
    width: 152px;
    padding: 12px 10px 12px 10px;
    border: none;
    background: var(--primary-default);
}
.header-button .header-link:hover, .link:hover{
    color:white;
}
.header-button:hover, .back-button:hover{
    background: var(--primary-dark);
    transition: background-color 300ms ease-out;
}
.header-button:active, .header-button:focus, .back-button:active, .back-button:focus{
    background: var(--primary-darker);
    transition: background-color 300ms ease-out;
}
.header-button[disabled] .back-button[disabled]{
    background: var(--base-300, #999);
}
.back-button, .back-button-tansparent{
    width: 100%;
}
.back-button-tansparent{
    background: transparent;
    border: 2px solid var(--primary-default, #F39314);
}
.link{
    text-decoration: none;
    color: var(--white);
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.back-button-tansparent .link{
    color: var(--black);
}
.header-icons{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 10px;
}
.header-line{
    width: 1px;
    height: 20px;
    background: var(--white);
}
.main{
    background-image: url('../images/404-bg.svg');
    background-repeat: no-repeat;    
    height: 74vh;
    width: 100%; 
    background-size: cover;
    background-position: right -180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
h1{
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.btn-holder{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 408px;
    margin-top: 40px;
}
.back-button-tansparent:hover{
    border: 2px solid black;
    filter: invert(41%) sepia(70%) saturate(609%) hue-rotate(355deg) brightness(100%) contrast(94%);
    transition: filter 300ms ease-out;
    transition: border 300ms ease-out;
}
.back-button-tansparent:active{
    border: 2px solid black;
    filter: invert(20%) sepia(78%) saturate(659%) hue-rotate(359deg) brightness(94%) contrast(96%);
    transition: filter 300ms ease-out;
    transition: border 300ms ease-out;
}
.back-button-tansparent:focus-visible{
    border: 4px solid #1E6AFF;
}
.back-button-tansparent[disabled]{
    filter: invert(43%) sepia(13%) saturate(2%) hue-rotate(331deg) brightness(88%) contrast(94%);
}
.footer-desktop{
    width: 100%;
    background: var(--black);
    height: auto;
    padding: 47px 68px;
}
.footer-upper-text{
    display: flex;
    justify-content: space-between;
}
.footer-upper-left{
    display: flex;
    gap: 160px;
}
.footer-upper-right{
    display: flex;
    gap: 41px;
}
.footer-main{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.footer-objects, .footer-services{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footer-logo{
    display: flex;
    width: 184px;
    height: 43.491px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 7.78px;
}
.footer-icons-holder{
    background: transparent;
    display: flex;
    width: 184px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footer-heading{
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.footer-text-holder{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.footer-link{
    text-decoration: none;
    color: var(--White, #FFF);
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
.footer-link:hover{
    color: var(--primary-default, #F39314);
    transition: color 300ms ease-out;
}
.footer-link:active, .footer-link:focus, .footer-link-underline:active, .footer-link-underline:focus, .footer-mobile-underlined:focus, .footer-mobile-underlined:active{
    color: var(--primary-dark, #BC700C);
    transition: color 300ms ease-out;
}
.footer-mobile-underlined:hover{
    color: var(--white);
}
.footer-line{
    background: #BC700C;
    height: 1px;
    width: 100%;
    margin-top: 126px;
}
.footer-lower-text{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.text-right{
    display: flex;
    align-items: flex-start;
    gap: 70px;
}
.footer-link-underline, .footer-mobile-underlined{
    color: var(--white);
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}
.text-left{
    color: var(--white);
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.footer-mobile{
    display: none;
}
@media screen and (min-width: 1440px){
    .footer-upper-text{
        display: flex;
        gap: 200px;
    }
}
@media screen and (max-width: 1400px){
    .footer-upper-left{
        gap: 15px;
    }
    .footer-upper-right{
        gap: 15px;
    }
}
@media screen and (max-width: 1320px){
    .frame{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1200px){
    .footer-upper-text{
        gap: 10px;
    }
}
@media screen and (max-width: 990px){
    .footer-desktop{
        padding: 20px;
    }
}
@media screen and (max-width: 600px){
    header{
        width: 100%;
        padding: 16px 15px;
        justify-content: space-between;
        align-items:center;
    }
    .frame{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .navigation, .orange-link-underlined, .header-button, .secondary, .services-button{
        display: none;
    }
    .header-logo{
        width: 168.889px;
        height: 40px;
        margin-top: 3px;
    }
    .nav-dropdown{
        display: block;
        width: 28px;
        height: 28px;
        flex-shrink: 0;
    }
    .arrow-link:focus, .header-link:focus{
        color:black;
        border-bottom: 4px solid var(--primary-default);
    }
    .secondary-mobile{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .dropdown-mobile{
        display: none;
        height: 100vh;
        background-image: url('../images/dropdown-mobile.svg');
        background-repeat: no-repeat;    
        width: 100%; 
        background-size: cover;
    }
    .lang-dropdown .header-link{
        color: var(--black);
    }
    .lang-dropdown img{
        filter: invert(92%) sepia(4%) saturate(51%) hue-rotate(349deg) brightness(103%) contrast(92%);
    }
    .lang-dropdown{
        margin-top: 184px;
    }
    .main{
        background-image: url('../images/404-bg-mobile.svg');
        padding: 0px 15px;
    }
    h1{
        font-size: 24px;
        text-align: center;
    }
    .btn-holder{
        width: 100%;
    }
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: var(--black);
        height: auto;
        padding: 15px;
    }
    .footer-main{
        align-self: center;
    }
    .second-row{
        width: 100%;
        display: flex;
        gap: 105px;
        margin-top: 30px;
    }
    .footer-heading{
        font-size: 16px;
        text-transform: none;
    }
    .footer-link{
        font-size: 14px;
    }
    .footer-line{
        margin-top: 106px;
    }
    .footer-lower-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .upper-row{
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }
    .dark-bg-holder{
        margin-top: 108px;
    }
}